node_modules

index.js

README.md
build/

.git
.gitignore
Dockerfile
alpine-pacakges/*

# Ignore all .log except all logs in the logs folder
*.log
!logs/*.log

*.pdf
!output/*.pdf
!uploads/*.pdf

*.aux
*.fls
*.fdb_latexmk
*.synctex.gz